# .NET Core
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.userprefs
*.log
*.swp
*.swo

# Uploads
wwwroot/uploads/

# Environment variables and secrets
appsettings.Development.json
appsettings.Production.json
.env
.env.local 